<mat-card>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required
                email />
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
                required />
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" name="repeatPassword" ngModel matInput placeholder="Repeat Password"
                #repeatPasswordInput="ngModel" required />
            <mat-error *ngIf="repeatPasswordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <mat-radio-group matInput name="option" ngModel type="radio" #optionInput="ngModel" required>
            <mat-radio-button value="1">Buyer</mat-radio-button>
            <br />
            <mat-radio-button value="2">Seller</mat-radio-button>
        </mat-radio-group>

        <mat-form-field *ngIf="confirmationCode">
            <input type="test" name="confirmationCode" ngModel matInput placeholder="Confirmation Code"
                #confirmationCodeInput="ngModel" />
            <mat-error *ngIf="confirmationCodeInput.invalid">Please enter the confirmation code.</mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="accent" type="submit">Sign up</button>
    </form>
</mat-card>