<mat-accordion multi="true">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            Add new order
        </mat-expansion-panel-header>
        <mat-card>
            <form [formGroup]="form" (submit)="onSaveProduct()">
                <mat-form-field>
                    <mat-label>Select flower</mat-label>
                    <mat-select formControlName="name">
                        <mat-option *ngFor="let flower of flowers" [value]="flower.value">{{flower.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="type" placeholder="Type " required>
                    <mat-error *ngIf="form.get('type').invalid">This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="1" formControlName="containers" placeholder="Containers" required>
                    <mat-error *ngIf="form.get('containers').invalid">This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="1" formControlName="items" placeholder="Items" required>
                    <mat-error *ngIf="form.get('items').invalid">This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="1" formControlName="height" placeholder="Height" required>
                    <mat-error *ngIf="form.get('height').invalid">This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="1" formControlName="weight" placeholder="Weight" required>
                    <mat-error *ngIf="form.get('weight').invalid">This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="1" formControlName="blockPrice" placeholder="Block Price" required>
                    <mat-error *ngIf="form.get('blockPrice').invalid">This field is required.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Select Auction</mat-label>
                    <mat-select formControlName="auctionName" required>
                        <mat-option *ngFor="let name of auctionNames" [value]="name.value">
                            {{name.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput formControlName="additionalInformation" placeholder="Additional information"></textarea>
                </mat-form-field>

                <div>
                    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                </div>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                    <img [src]="imagePreview" [alt]="form.value.title">
                </div>

                <button mat-raised-button color="accent" type="submit">
                    Save Product
                </button>
            </form>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
<mat-radio-group aria-label="Select an option" [(ngModel)]="selected" (change)="radioChange($event)">
    <mat-radio-button value="1">All</mat-radio-button>
    <mat-radio-button value="2">Yours</mat-radio-button>
</mat-radio-group>