mat-form-field,
textarea{
    width: 100%;
}

mat-spinner{
    margin: auto;
}
input[type="file"]{
    visibility: hidden;
}

.image-preview{
    height: 5rem;
    margin: 1rem;
}
.image-preview img{
    height: 100%;
}
.mat-radio-button {
    margin-top: 1rem;
    margin-left: 16px;
  }