<mat-spinner [diameter]="200" *ngIf="!loading"></mat-spinner>

<div class="mat-elevation-z8" *ngIf="loading">
    <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let product"> {{product.type}} </td>
        </ng-container>

        <!-- Containers Column -->
        <ng-container matColumnDef="containers">
            <th mat-header-cell *matHeaderCellDef> containers </th>
            <td mat-cell *matCellDef="let product"> {{product.containers}} </td>
        </ng-container>

        <!-- Items Column -->
        <ng-container matColumnDef="items">
            <th mat-header-cell *matHeaderCellDef matTooltip="Items in conteiner" [matTooltipPosition]="position"> items </th>
            <td mat-cell *matCellDef="let product"> {{product.itemsInContainer}} </td>
        </ng-container>

        <!-- height Column -->
        <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef matTooltip="Height in centimeters" [matTooltipPosition]="position"> height </th>
            <td mat-cell *matCellDef="let product"> {{product.height}} </td>
        </ng-container>

        <!-- weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef matTooltip="Weight in grams" [matTooltipPosition]="position"> weight </th>
            <td mat-cell *matCellDef="let product"> {{product.weight}} </td>
        </ng-container>

        <!-- block price Column -->
        <ng-container matColumnDef="blockPrice" > 
            <th mat-header-cell matTooltip="Block Price" [matTooltipPosition]="position" *matHeaderCellDef> block price </th>
            <td mat-cell *matCellDef="let product"> {{product.blockPrice}} </td>
        </ng-container>
        <!-- auction name Column -->
        <ng-container matColumnDef="auctionName">
            <th mat-header-cell *matHeaderCellDef> auction </th>
            <td mat-cell *matCellDef="let product"> {{product.auctionName}} </td>
        </ng-container>
        <!--image-->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> image </th>
            <td mat-cell *matCellDef="let product"><img src="{{product.imagePath}}" alt="" height="20" width="40" (click)="openImage(product.imagePath)"></td>
        </ng-container>
        <!--Additional Information-->
        <ng-container matColumnDef="additionalInformation">
            <th mat-header-cell *matHeaderCellDef> more info </th>
            <td mat-cell *matCellDef="let product" matTooltip="{{product.additionalInformation}}" [matTooltipPosition]="position">{{getLenght(product.additionalInformation)}}</td>
        </ng-container>
        <!-- EDIT Column -->
        <ng-container matColumnDef="EDIT" *ngIf="isTrader_">
            <th mat-header-cell *matHeaderCellDef> EDIT </th>
            <td mat-cell *matCellDef="let product">
                <button mat-button color="primary" *ngIf="userIsAuthenticated && userId == product.seller" (click)="onEdit(product.id)">EDIT</button>
            </td>
        </ng-container>

        <!-- DELETE Column -->
        <ng-container matColumnDef="DELETE" *ngIf="isTrader_">
            <th mat-header-cell *matHeaderCellDef> DELETE </th>
            <td mat-cell *matCellDef="let product">
                <button mat-button color="warn" *ngIf="userIsAuthenticated && userId == product.seller" (click)="onDelete(product.id)">DELETE</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator 
        [length]="totalProducts"
        [pageSize]="productsPerPage"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onChangePage($event)"
    ></mat-paginator>
</div>
