<div class="body">
    <div class="content">
        <div class="image">
            <img src="http://localhost:9000/images/logo3.png" alt="Logo">
        </div>
        <div class="information">
            <h1>Our history</h1>
            <p>Together we are strong! That is the notion upon which Balkan Auction is based. Growers come together to the same place to sell their products. Together, they are stronger in the face of traders and get a better price for their plants and flowers.</p>
            <hr>
            <h1>Who is Balkan Auction</h1>
            <p>Balkan Auction is a modern business where wholesalers and florists can find the widest and deepest assortment of cut flowers and cut greens. Balkan Auction represents high quality, interesting offers, and an excellent, personalised service.</p>
        </div>
    </div>
</div>

