.profile{
    margin-top: 1rem;
    margin-left: 1rem;
}
.info {
    width: 100%;
    text-align:center;
  }
  mat-tab-group{
    background-color: white;

  }
  
.userInfo{
    width: 400px;
}
.history{
    margin-top: 5rem;
}
.image{
    display: table;
    margin: 0 auto;
}
.example-stretched-tabs {
    max-width: 800px;
    margin: 0 auto;
  }