.listWithProducts{
    width: 700px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.clock{
    flex-grow: 1;
    text-align: center;
    margin-top: 1rem;
}
@media screen and (min-width: 1200px) {
    .container{
        display: flex;
    }
}
