table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

td {
  width: 100px;
}
#edit {
  font-size: 20px;
}

.clock {
  text-align: center;
}
input {
  text-align: center;
}
.image {
  text-align: center;
  margin-top: 1rem;
}
img {
  width: 100%;
  max-width: 600px;
}
button#buy {
  border: 1px outset black;
  border-radius: 40px;
  font-size: 20px;
}
input#containers{
  font-size: 20px;
}