ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-shadow: 2px 2px 8px #000000;
}
.spacer{
    flex: 1 1 auto;
}
.bold{
    font-size: 20px;
}
