<mat-toolbar color="primary">
  <span>
    <a routerLink="/"> Home Page</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="isAdmin && userIsAuthenticated">
      <a mat-button routerLink="/admin" routerLinkActive="mat-accent"
        >Admin</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/profile" routerLinkActive="mat-accent"
        >Profile</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button [matMenuTriggerFor]="menu" routerLinkActive="mat-accent"
        >Market</a
      >
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/market/Sofia" >Sofia</button>
        <button mat-menu-item routerLink="/market/Plovdiv" >Plovdiv</button>
        <button mat-menu-item routerLink="/market/Varna" >Varna</button>

      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/products" routerLinkActive="mat-accent"
        >Products</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
