<mat-toolbar color="primary">
    <span>
      <a routerLink="/"
        ><img
          src="http://localhost:9000/images/logo_transparent.png"
          alt="Logo"
          width="150"
      /></a>
    </span>
    <span class="example-spacer"></span>
    <span>
      <ul>
        <li>
          <p>Follow us:</p>
        </li>
        <li>
          <a routerLink="/" class="fa fa-facebook"></a>
        </li>
        <li>
          <a routerLink="/" class="fa fa-youtube"></a>
        </li>
        <li>
          <a routerLink="/" class="fa fa-twitter"></a>
        </li>
      </ul>
    </span>
</mat-toolbar>
